.black-background-color
{
    background-color: black;
  
}
.button
{
    background-color: #6C63FF;

}
.white-text
{
   
    color: white;
   
   
}
.center
{
    
    width: 800px;
    margin-right: auto;
    margin-left:auto ;
    margin-top: 200px;
}
.purple
{
    font-size: 30px;
font-weight: normal;
    color:#6C63FF;
}
.verdana-font
{
font-family:  sans-serif;
font-weight:Thin; 

font-size: 35px;
}
.thicker-font
{
font-family: sans-serif;
font-weight: bold !important;
font-size: 30px;
color: inherit;

}

.white
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}