 .center{
  width: 300px;
 
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  
 }
 .topMargin300{
  height: 50px;
  margin-top: 300px;
}

.topMargin50{
  height: 50px;
  margin-top: 25px;
  background-color: #E01E4C;
}

.mat-divider{
  border-top-style:dashed;
  margin-top: 30px;
  width: 20px;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
